/* ********** GLOBAL RESETS AND INITIAL PROPERTIES ********** */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* assuming default browser (16px) to get 10px base */
}

body {
  box-sizing: border-box;
  background: linear-gradient(to top left, #287ab4, #6f80d5);
  overflow-x: hidden;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  line-height: 1.3;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 5rem;
}

.choices-box {
  display: flex;
  flex-direction: column;
}

.choices-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 3rem;
  margin: 2rem;
}
